In [1]:
string_1='Python allowsyou to define strings using singles quotes'
string_1

'Python allowsyou to define strings using singles quotes'

In [2]:
string_2="Python allows you to define strings using doubles quotes"
string_2

'Python allows you to define strings using doubles quotes'

In [3]:
string_3="""python allows yoy to define strings using triples quote"""
string_3

'python allows yoy to define strings using triples quote'

In [4]:
multiline_string='strings cannot span multiple 
lines when enclosed in single quotes'

SyntaxError: EOL while scanning string literal (2668853822.py, line 1)

In [5]:
multiline_string="Strings cannot span multiple 
lines when enclosed in double quotes"

SyntaxError: EOL while scanning string literal (1329336437.py, line 1)

In [6]:
multiline_string="""string can span multiple
lines when enclosed in triple quotes"""
multiline_string

'string can span multiple\nlines when enclosed in triple quotes'

In [9]:
nicely_formatted_string="""
Triples quotes are useful because
you can format and display your strings nicely in code
you can include'sinles quote' and "Doubles quotes"
within the string
"""

In [10]:
nicely_formatted_string

'\nTriples quotes are useful because\nyou can format and display your strings nicely in code\nyou can include\'sinles quote\' and "Doubles quotes"\nwithin the string\n'

In [12]:
print(nicely_formatted_string)

Triples quotes are useful because
you can format and display your strings nicely in code
you can include'sinles quote' and "Doubles quotes"
within the string

#### Escaping special characters in strings
Escaping can be performed using \,',"

In [13]:
some_string='That happened to be Jack\'s baseball bat'
some_string

"That happened to be Jack's baseball bat"

In [15]:
some_string="That happened to be Jacks baseball bat"
some_string

'That happened to be Jacks baseball bat'

In [17]:
another_string=" I assigned the value of that variable to be \"Red\""
another_string

' I assigned the value of that variable to be "Red"'

In [18]:
print('C:\\Users \\projects')

C:\Users \projects

In [19]:
some_text="Did you watch the game Last night?\t i stayed up to watch the end!"
print(some_text)

Did you watch the game Last night?	 i stayed up to watch the end!

In [21]:
favorite_sport="baseball"
time_spend=2
" I love watching {} on TV- yesterday i watched for {} hours ".format (favorite_sport,time_spend)

' I love watching baseball on TV- yesterday i watched for 2 hours '

In [22]:
favorite_sport="soccer"
" I love watching %s on TV- yesterday i watched for %d Hours"%favorite_sport

TypeError: not enough arguments for format string

In [24]:
favorite_sport="cricket"
time_spent=3
" I love watching %s on TV -yesterday i watched for %d hours"%(favorite_sport,time_spent)

' I love watching cricket on TV -yesterday i watched for 3 hours'

In [25]:
favorite_sport="basket ball"
time_spent=2.5
f" I love watching {favorite_sport} on TV-yesterday I watched for {time_spent} hours"

' I love watching basket ball on TV-yesterday I watched for 2.5 hours'